@media only screen and (max-width: 786px) {
    body {
        width: 100%;

    }

    /* section one */
    .navbar {
        width: 90%;
        padding: 5% 5%;
    }

    .nav-logo {
        width: 30%;        
    }

    .nav-logo img {
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }

    .nav-logo .text {
        margin: 0;
    }

    .nav-buttons {
        width: 30%;
        margin: 0 0 0 25%;
    }

    .nav-buttons .home {
        display: none;
    }

    .nav-buttons .about-us {
        display: none;
    }

    .nav-buttons .how-it-works {
        display: none;
    }

    .description {
        padding: 9% 7%;
        flex-direction: column-reverse;
    }

    .description .info {
        width: 86%;
        margin: 0;
    }

    .description .info .get-hired-text {
        width: 100%;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        justify-content: center;
        margin-top: 15%;
    }

    .description .info .best-tool-text {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        margin: 7% 0 14% 0;
    }

    .description .info .how-it-works {
        margin: 0 25%; 
    }

    .description .visual {
        width: 312px;
        height: 210px;
    }

    /* section two */

    .section-how-it-works .how-it-works {
        padding: 15% 7%;
    }

    .text-box {
        margin-bottom: 15%;
        width: 100%;
    
    }

    .text-box .small-text {
        margin-bottom: 3%;
    }
    
    .text-box .upper-text {
        font-size: 32px;
    }

    .steps {
        flex-direction: column;
        width: 100%;
    }

    .steps .first-step {
        width: 100%;
        margin-bottom: 13%;
    }
    
    
    .steps .second-step {
        width: 100%;
        margin-bottom: 13%;
    }
    
    .steps .third-step {
        width: 100%;
    }

    .steps img {
        height: 42px;
        width: 42px;
    }

    .steps h3 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 8%;
        margin-bottom: 4%;
    }
    
    .steps p {
        font-size: 14px;
        line-height: 18px;
    }

    /* Section three */

    .section-input {
        padding: 15% 7%;        
    }

    .section-input .input-field {
        width: 100%;
    }

    .section-input .input-field .lets-get-started-text {
        margin: 0 0 32px 0;
    }

    .section-input .input-field h2 {
        justify-content: center;
        width: 100%;
        font-size: 24px;
        line-height: 120%;
        margin: 0 0 10% 0;
    }

    .section-input .input-field h4 {
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 10% 0;
    }

    .section-input .input-field .input-part {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-part img {
        display: none;
    }

    .section-input .input-field .input-part input[type="text"] {
        width: 312px;
        margin: 0 0 10% 0;
        background: url(/assets/TextField.png) no-repeat scroll 13px 13px;
        background-color: #fff;
    }
    
    /* Section four */

    .section-CV-submission {
        padding: 17% 7%;
        width: 100%;
    }

    .CV-submission {
        flex-direction: column;
        width: 86%;
    }

    .CV-submission .visual2 {
        width: 312px;
        height: 210px;
        border-radius: 32px;
        margin: 0 0 35% 0;
    }
    
    .CV-submission .text-part h2 {
        font-size: 24px;
        line-height: 120%;
        margin: 0 0 10% 0;
    }
    
    .CV-submission .text-part p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 10% 0;
    }

    /* Footer */
    
    .footer {
        padding: 10% 7% 10% 7%;
        gap: 10%;
        max-height: 460px;
    }

    .footer .links {
        flex-direction: column;
    }

    .footer .links .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .links .menu .about-us-footer {
        margin: 16px 0 0 0;
    }
    
     .footer .links .menu .how-it-works-footer {
        margin: 16px 0 0 0;
    }

    .footer .links .menu img {
        width: 24px;
        height: 24px;
        margin: 16px 12px 0 12px;
    }
    
    .footer .links .credits {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding: 0px;
    }

    .footer .links  p {
        font-size: 15px;
        line-height: 24px;
        padding: 10% 0 10% 0;
        margin: 0;
        display: inline-block;
    }

    .footer .made-with-love {
        width: 100%;
    }

    .footer .made-with-love button {
        justify-content: flex-start;
    }
}