@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    margin: 0;
    /* width: 1440px; */
}

button {
    border: none;
}

/* Section one */

.section-welcome {
    background-color: #F1F1F1;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 62px;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 22px;
    width: 114.68px;
}

.nav-logo img {
    height: 22px;
    width: 18.68px;
}

.nav-logo .text {
    margin-left: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 500;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: #081E34;
    margin: 16px;
    width: 410px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;   
    font-size: 14px;
    line-height: 18px;
}

.nav-buttons .home {
    background-color: transparent;
    height: 38px;
    width: 64px;
    padding: 10px, 12px, 10px, 12px;
}

.nav-buttons .about-us {
    background-color: transparent;
    height: 38px;
    width: 85px;
    padding: 10px, 12px, 10px, 12px;
}

.nav-buttons .how-it-works {
    background-color: transparent;
    height: 38px;
    width: 111px;
    padding: 10px, 12px, 10px, 12px;
}

.nav-buttons .get-started {
    background-color: rgba(8, 30, 52, 0.12);
    color: #081E34;
    height: 38px;
    width: 102px;
    border-radius: 100px;
    padding: 10px, 12px, 10px, 12px;
}

/* Description  */

.description {
    display: flex;
    align-items: center;
    padding: 100px 80px 100px 80px;
    height: 620px;
}

.description .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 495px;
    height: 366px;
    margin-right: 165px;
}

.description .info .get-hired-text {
    width: 495px;
    height: 192px;
    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #000;
    order: 0;
    padding: 0;
    margin: 0;
}

.description .info .best-tool-text {
    width: 495px;
    height: 44px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 32px 0 48px 0;
}

.description .info .how-it-works {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 144px;
    background-color: #712FFF;
    color: #FFFFFF;
    border-radius: 100px;
}

.description .visual {
    position: relative;
    width: 619px;
    height: 420px;    
    border-radius: 32px;
    overflow: hidden;
}

.description .visual .back-photo {
    position: absolute;
    width: 687px;
    height: 458px;
    left: -34px;
    top: -12px;
}

.description .visual .dollar {
    position: absolute;
    width: 139px;
    height: 181px;
    left: 213px;
    top: 0px;
}

.description .visual .fire {
    position: absolute;
    width: 148px;
    height: 172px;  
    margin: 217px 34px 31px 437px;
} 

/* Section two */

.section-how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E1DEE7;
    padding: 100px 80px;
    height: 562px;
    border-radius: 32px;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 86px;

}

.text-box .small-text {
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.text-box .upper-text {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
}

.steps {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.steps .first-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 186px;
    margin-right: 40px;
}


.steps .second-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 186px;
    margin-right: 40px;
}

.steps .third-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    height: 186px;
}

.steps img {
    height: 64px;
    width: 64px;
}

.steps h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.steps p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

/* Section three */

.section-input {
   height: 422px;
   display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 80px;
    background-color: #F1F1F1;

}

.section-input .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 757px;
    height: 222px;
}

.section-input .input-field .lets-get-started-text {
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 32px 0;
}

.section-input .input-field h2 {
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 32px 0;
}

.section-input .input-field h4 {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 32px 0;
}

.section-input .input-field .button-part {
    display: flex;
    align-items: flex-start;
    height: 50px;
}

.section-input .input-field .button-part input[type="text"] {
    box-sizing: border-box;
    width: 619px;
    height: 50px;
    border: 1px;
    border-color: solid #E1DEE7;
    border-radius: 12px;
    background: url(/assets/TextField.png);
    background-position: 13px 13px;
    opacity: 0.2;
    background-repeat: no-repeat;
}

.section-input .input-field .button-part .submit {

}

/* .section-input .input-field .button-part .search-button img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 13px;
    opacity: 0.2;
} */



