@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    margin: 0;
    width: 100%;
    background-color: #F1F1F1;

}

button {
    border: none;
}

/* Section one */

.section-welcome {
    background-color: #F1F1F1;

}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 22px;
    width: 114.68px;
}

.nav-logo img {
    height: 22px;
    width: 18.68px;
}

.nav-logo .text {
    margin-left: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 500;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: #081E34;
    margin: 16px;
    width: 410px;
    height: 38px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.nav-buttons .home {
    background-color: transparent;
    height: 38px;
    width: 64px;
    padding: 10px, 12px, 10px, 12px;
}

.nav-buttons .about-us {
    background-color: transparent;
    height: 38px;
    width: 85px;
    padding: 10px, 12px, 10px, 12px;
}

.nav-buttons .how-it-works {
    background-color: transparent;
    height: 38px;
    width: 111px;
    padding: 10px, 12px, 10px, 12px;
}

.nav-buttons .get-started {
    background-color: rgba(8, 30, 52, 0.12);
    color: #081E34;
    height: 38px;
    width: 102px;
    border-radius: 100px;
    padding: 10px, 12px, 10px, 12px;
}

/* Description  */

.description {
    display: flex;
    align-items: center;
    padding: 100px 80px 100px 80px;
}

.description .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 495px;
    margin-right: 165px;
}

.description .info .get-hired-text {
    width: 495px;
    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #000;
    order: 0;
    padding: 0;
    margin: 0;
}

.description .info .best-tool-text {
    width: 495px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 32px 0 48px 0;
}
.description .info .how-it-works-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description .info .how-it-works-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 144px;
    background-color: #712FFF;
    color: #FFFFFF;
    border-radius: 100px;
}

.description .visual {
    width: 619px;
    height: 420px;
    border-radius: 32px;
}

/* Section two */

.section-how-it-works {
    background-color: #F1F1F1;
}

.section-how-it-works .how-it-works {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E1DEE7;
        padding: 100px 80px;
        border-radius: 32px;    
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 86px;

}

.text-box .small-text {
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.text-box .upper-text {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
}

.steps {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.steps .first-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin-right: 40px;
}


.steps .second-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin-right: 40px;
}

.steps .third-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.steps img {
    height: 64px;
    width: 64px;
}

.steps h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.steps p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

/* Section three */

.section-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 80px;
    background-color: #F1F1F1;

}

.section-input .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 757px;
}

.section-input .input-field .lets-get-started-text {
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 32px 0;
}

.section-input .input-field h2 {
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 32px 0;
}

.section-input .input-field h4 {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 32px 0;
}

.section-input .input-field .input-part {
    display: flex;
    align-items: flex-start;
}

.input-part img {
    position: relative;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 13px;
    opacity: 0.99;
}

.section-input .input-field .input-part input[type="text"] {
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 619px;
    height: 50px;
    border: 1px solid #E1DEE7;
    border-radius: 12px;
    padding: 0 0 0 49px;
    margin: 0 32px 0 -24px;
}

.section-input .input-field .input-part input[type="submit"] {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #712FFF;
    box-sizing: border-box;
    width: 106px;
    height: 50px;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 16px 24px 16px 24px;
}

/* Section four */

.section-CV-submission {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 80px;
    background-color: #F1F1F1;
}

.CV-submission {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CV-submission .visual2 {
    width: 619px;
    height: 420px;
    border-radius: 24px;
    margin-right: 128px;
}


.CV-submission .text-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.CV-submission .text-part h2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 56px;
    margin-bottom: 32px;
}

.CV-submission .text-part p {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
}

.CV-submission .text-part button {
    width: 114px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px 16px 16px;
    background: #712FFF;
    border-radius: 100px;
}

.CV-submission .text-part button p {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 0 0 8px;
    padding: 0;
}

.CV-submission .text-part button img {
    width: 18px;
    height: 18px;
}

/* Footer  */

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px 80px;
    gap: 32px;
    background: #FFFFFF;
    border-radius: 32px 32px 0px 0px;
}

.footer .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
}

.footer .links .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.footer .links .menu button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    border-radius: 100px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #081E34;
    background-color: #FFFFFF;

}

.footer .links .menu .home-footer {
    width: 64px;
    height: 38px;
}

.footer .links .menu .about-us-footer {
    width: 85px;
    height: 38px;
    margin-left: 16px;
}

 .footer .links .menu .how-it-works-footer {
    width: 111px;
    height: 38px;
    margin-left: 16px;
}

 .footer .links .menu img {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

 .footer .links .credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}



 .footer .links p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: inline;
    align-items: left;
    text-align: left;
    justify-content: center;
    color: #081E34;
    opacity: 0.5;
    padding: 0;
    max-width: 800px;
    margin: 12px 0 0 205px;
}

 .footer .made-with-love {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

 .footer .made-with-love button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 8px;
    height: 38px;
    border-radius: 100px;
    background-color: #FFFFFF;
}

.footer .made-with-love button p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #081E34;
}

a:link {
    color: #081E34;
}

a:visited {
    color: #081E34
}

a:hover {
    color: #081E34
}

a:active {
    color: #081E34
}

@media only screen and (max-width: 820px) {
    body {
        width: 100%;
    }

    /* section one */
    .navbar {
        width: 90%;
        padding: 5% 5%;
    }

    .nav-logo {
        width: 30%;        
    }

    .nav-logo img {
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }

    .nav-logo .text {
        margin: 0;
    }

    .nav-buttons {
        width: 30%;
        margin: 0 0 0 25%;
    }

    .nav-buttons .home {
        display: none;
    }

    .nav-buttons .about-us {
        display: none;
    }

    .nav-buttons .how-it-works {
        display: none;
    }

    .description {
        padding: 9% 7%;
        flex-direction: column-reverse;
    }

    .description .info {
        width: 86%;
        margin: 0;
    }

    .description .info .get-hired-text {
        width: 100%;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        justify-content: center;
        margin-top: 15%;
    }

    .description .info .best-tool-text {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        margin: 7% 0 14% 0;
    }

    .description .info .how-it-works-button {
        width: 100%;
    }

    .description .visual {
        width: 87%;
        height: 58%;
    }

    /* section two */

    .section-how-it-works .how-it-works {
        padding: 15% 7%;
    }

    .text-box {
        margin-bottom: 15%;
        width: 100%;
    
    }

    .text-box .small-text {
        margin-bottom: 3%;
    }
    
    .text-box .upper-text {
        font-size: 32px;
    }

    .steps {
        flex-direction: column;
        width: 100%;
    }

    .steps .first-step {
        width: 100%;
        margin-bottom: 13%;
    }
    
    
    .steps .second-step {
        width: 100%;
        margin-bottom: 13%;
    }
    
    .steps .third-step {
        width: 100%;
    }

    .steps img {
        height: 42px;
        width: 42px;
    }

    .steps h3 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 8%;
        margin-bottom: 4%;
    }
    
    .steps p {
        font-size: 14px;
        line-height: 18px;
    }

    /* Section three */

    .section-input {
        padding: 15% 7%;        
    }

    .section-input .input-field {
        width: 100%;
    }

    .section-input .input-field .lets-get-started-text {
        margin: 0 0 32px 0;
    }

    .section-input .input-field h2 {
        justify-content: center;
        width: 100%;
        font-size: 24px;
        line-height: 120%;
        margin: 0 0 10% 0;
    }

    .section-input .input-field h4 {
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 10% 0;
    }

    .section-input .input-field .input-part {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-part img {
        display: none;
    }

    .section-input .input-field .input-part input[type="text"] {
        width: 312px;
        margin: 0 0 10% 0;
        background: url(/assets/TextField.png) no-repeat scroll 13px 13px;
        background-color: #fff;
    }
    
    /* Section four */

    .section-CV-submission {
        padding: 17% 7%;
    }

    .CV-submission {
        flex-direction: column;
    }

    .CV-submission .visual2 {
        width: 100%;
        height: 67%;
        border-radius: 32px;
        margin: 0 0 35% 0;
    }
    
    .CV-submission .text-part h2 {
        font-size: 24px;
        line-height: 120%;
        margin: 0 0 10% 0;
    }
    
    .CV-submission .text-part p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 10% 0;
    }

    /* Footer */
    
    .footer {
        padding: 10% 7% 10% 7%;
        gap: 0;
    }

    .footer .links {
        flex-direction: column;
    }

    .footer .links .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .links .menu .about-us-footer {
        margin: 16px 0 0 0;
    }
    
     .footer .links .menu .how-it-works-footer {
        margin: 16px 0 0 0;
    }

    .footer .links .menu img {
        width: 24px;
        height: 24px;
        margin: 16px 12px 0 12px;
    }
    
    .footer .links .credits {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding: 0px;
    }

    .footer .links  p {
        font-size: 14px;
        line-height: 24px;
        padding: 10% 0 10% 0;
        margin: 0;
    }

    .footer .made-with-love {
        width: 100%;
    }

    .footer .made-with-love button {
        justify-content: flex-start;
    }
}